body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo-titre {
  display: flex;
  align-items: left;
  padding: 10px 20px;
}

.logo-titre figure {
  margin: 0;
}

#logo {
  width: 200px;
  height: auto;
  padding-right: 20px;
}

.Menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.Menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Menu li {
  padding: 0 20px;
}

.Menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px 15px;
  display: block;
}

.Menu a:hover {
  background-color: rgba(76, 68, 68, 0.2);
  border-radius: 5px;
}

.red-line {
  border: 2px solid red;
  margin: 20px 0;
}

#toronto {
  position: relative;
  text-align: center;
  border-radius: 5px;
}

#toronto:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

#toronto img {
  width: 100%;
  height: auto;
}

#toronto figcaption {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 97%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
}

.article-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

article {
  background-color: rgb(198, 203, 187);
  display: flex;
  flex-direction: column; /* Display image and h2 side by side */
  width: 65%;
  margin-left: 1em;
}

article img {
  width: 30%; /* Image width is 30% of the container */
}

article h2 {
  margin-top: 0;
  align-items: left;
}

.T1 {
  text-indent: 20px;
  line-height: 1.6;
}

/* Aside Section: Display Trump image on the right */
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  padding-left: 20px;
}

aside img {
  width: 100%; /* Adjust Trump image size */
  height: auto;
  margin-bottom: 20px;
}

.social-icons img {
  width: 30px;
  margin: 5px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.friends-list ul {
  list-style-type: none;
  padding: 0;
}

.friends-list li::marker {
  color: red;
}
