/* Réinitialiser la marge, le padding et la propriété box-sizing pour tous les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles du body */
body {
  font-family: "Times", serif;
  background: url("image_T2/fond.jpg") no-repeat center/cover;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}

/* Section Header */
header {
  background-color: rgb(33, 216, 216);
  width: 80%;
  margin: 2rem auto;
  border-radius: 10px;
}

/* Titre principal */
#titre {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

/* Sous-titre */
#sous-titre {
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  color: aquamarine;
  text-align: center;
}

/* Section Citation */
.citation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 75%;
  margin: 2rem auto;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.citation .texte {
  font-size: 1.2rem;
  width: 65%;
  color: white;
  text-align: left;
  transition: transform 0.3s;
}

.citation .texte:hover {
  transform: scale(1.05); /* Effet de zoom sur le texte */
}

#programmeur {
  max-width: 250px;
  width: 35%;
  height: auto;
  transform: rotate(-35deg);
  padding-top: 20px;
  padding-left: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Section Genie */
.genie {
  padding: 2rem;
  text-align: center;
}

.genie h2 {
  color: white;
  font-size: 2rem;
  transition: color 0.3s;
  padding-left: 240px;
  text-align: left;
}

.genie p {
  font-size: 18px;
  width: 65%;
  font-family: "Gill Sans", Calibri, sans-serif;
  text-align: justify;
  line-height: 1.2;
  margin: 0 auto;
  color: white;
  transition: transform 0.3s;
  margin-left: 20rem;
}

.genie p:hover {
  transform: scale(1.05); /* Zoom léger sur le texte */
}

.genie h2:hover {
  color: #21d8d8; /* Changer la couleur du titre au survol */
}

/* Section de bas de page (footer) */
footer {
  text-align: center;
  margin-top: 2rem; /* Ajoute un peu d'espace au-dessus du footer */
}

footer img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Ajout d'un léger arrondi sur l'image du footer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée pour l'image du footer */
}
